# .dockerignore 파일 내용
.git
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
anaconda3/
# 중요: 거대 데이터 폴더는 COPY . /app 할 때 제외시킴
hmr2_data
hmr2_data.tar.gz
# 필요한 경우 별도로 COPY 명령어로 추가했으므로 여기선 뺍니다.